.btn {
  position: relative;
  display: block;

  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 0 20px;

  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;

  .text {
    padding: 0 15px;
    vertical-align: middle;
  }

  .icon {
    vertical-align: middle;
    width: 18px;
    height: 18px;

    &.ltr { float: right }
    &.rtl { float: left }
  }

  &-default {
    color: @primary-color;
    background-color: @base-color;
    box-shadow: 5px 5px 20px #C9CDD4, -5px -5px 20px #FFF;
  }

  &-primary {
    color: @text-color;
    background-color: @primary-color;
    background-image: linear-gradient(145deg, #0B336F, #092B5E);
  }

  &-danger {
    color: @text-color;
    background-color: @error-color;
  }

  &:active {
    opacity: 0.88;
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
    filter: grayscale(8%);
  }
}