.ui--auth {
  display: grid;
  align-items: center;

  .container {
    position: relative;
    width: 420px;
    // height: 480px;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    background-color: var(--base-color);
    box-shadow:
      15px 15px 30px #D1D7E0,
      -15px -15px 30px #F6FCFF;
  }

  &-head {
    margin: 0 0 20px;
    padding: 0 0 10px;
    border-bottom: solid 1px tint(#0A3068, 84%);

    &-h2 {
      color: var(--primary-color);
      font-size: 28px;
    }

    &-h4 {
      color: var(--gray-color);
      line-height: 2;
      font-size: 14px;
    }
  }

  &-login {
    &-input {
      display: grid;
      grid-auto-flow: row;
      grid-row-gap: 20px;
    }

    &-or {
      position: relative;
      margin: 30px 0;

      .label {
        position: relative;
        z-index: 1;
        display: block;
        margin: 0 auto;
        width: 60px;
        height: 60px;
        line-height: 60px;

        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: var(--primary-color);

        border-radius: 100%;
        background-color: var(--base-color);
        box-shadow:
          6px 6px 20px #D1D7E0,
          -6px -6px 20px #FFF,
      }

      .line {
        position: absolute;
        top: 55%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: tint(#0A3068, 82%);
      }
    }

    &-other {
      display: grid;
      grid-auto-flow: row;
      grid-row-gap: 15px;
    }
  }

  &-pwd {}

  &-copyright {
    margin: 20px 0 0;
    text-align: center;
    color: var(--gray-color);
    font-size: var(--font-size-small);
  }
}