.@{css-prefix}dashboard {
  .@{css-prefix}list {
    overflow: hidden;

    &-li {
      &:not(:last-child) {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: lighten(@border-color-base, 8%);
      }

      & > a {
        position: relative;
        display: block;
        padding: 12px 15px;
        transition: padding 400ms, background 320ms;

        &> .@{css-prefix}icon {
          position: absolute;
          top: 50%;
          color: white;
          transition: color 200ms;
          transform: translate(-35px, -50%);
        }

        &:hover {
          color: inherit;
          padding-left: 50px;
          background: lighten(@background-color-base, 2.4%);

          &> .@{css-prefix}icon {
            color: @primary-color;
          }
        }
      }

      .col {
        &-date {}
        &-title {}
        &-href {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        &-key {
          .@{css-prefix}tag {
            padding: 8px 10px;
            font-size: 11px;
            opacity: .6;
            text-transform: capitalize;
            background-color: transparent;
            border-radius: @border-radius-base;
            border: dashed 1px lighten(@primary-color, 20%);
          }
        }
      }
    }
  }



  .@{css-prefix}load-more {
    position: absolute;
    padding: 20px 0 0;
    width: 100%;

    .@{css-prefix}btn {
      padding: 10px 15px;
      background-color: white;
      border-color: lighten(@border-color-base, 6%);

      &:hover {
        border-color: tint(@primary-color, 30%);
      }
    }
  }
}
