.@{css-prefix}dashboard {
  flex-direction: row;
  height: ~'calc(100vh - 72px)';

  .@{css-prefix}layout-sider, .@{css-prefix}layout-link {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    position: relative;
    background-color: #ffffff;
  }

  .@{css-prefix}layout-sider {
    flex: 2;
    max-width: 35vw;
    overflow-y: scroll;
  }

  .@{css-prefix}layout-link {
    flex: 4;
    padding: 40px;
    overflow-y: auto;

    .@{css-prefix}row-scale {
      margin: 40px 0;
      padding: 20px 0 0;
      border-top: solid 1px @border-color-base;
    }
  }
}
