@reborder-color: lighten(@border-color-base, 8%);

.@{css-prefix}panel {
  .@{css-prefix}row-head {
    border-bottom: solid 1px @reborder-color;

    .@{css-prefix}btn-add {
      padding: 8px 15px;
      border: none;
      border-left: solid 1px @reborder-color;

      .@{css-prefix}icon {
        font-size: 26px;
        margin-right: 8px;
      }
    }
  }

  .@{css-prefix}row-body {
    .@{css-prefix}role-haed {

    }
    .@{css-prefix}li {

    }
  }
}
