.@{css-prefix}tags {

  .@{css-prefix} {
    &col-card {
      position: relative;
      display: inline;
      float: left;
      min-height: 195px;
      width: ~'calc(100% / 7 - 30px)';
      border: solid 1px @reborder-color;
      border-radius: @border-radius-small;
      text-align: center;
      overflow: hidden;
      transition: box-shadow 240ms, border-color 240ms, transform 240ms;

      &:not(.col-dis):hover {
        transform: translateY(-2px);
        border-color: @warning-color;
        box-shadow: 0 4px 12px tint(@shadow-color, 21%);
      }

      &.col-dis {
        .col-add {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 16% 0;
          cursor: pointer;
          transition: color 320ms;
          &:hover {
            color: lighten(@text-color, 45%)
          }
        }

        .col-form {
          padding: 20px 10px;

          .@{css-prefix}input {
            padding: 8px;
            height: auto;
          }

          .@{css-prefix}btn-group {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            display: flex;

            .@{css-prefix}btn {
              width: 100%;
              padding: 2px 0;
              border-radius: 0;
            }
          }

        }
      }
    }

    &avatar {
      font-size: 30px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      border-radius: 100%;
    }

    &btn-sub {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 4px 0;
      border: none;
      border-radius: 0;
      line-height: normal;
      text-transform: uppercase;

      .@{css-prefix}icon {
        font-size: 15px;
        vertical-align: baseline;
      }
    }
  }
}
