@new-border-color: lighten(@border-color-base, 8%);

.@{css-prefix}watch {
  .@{css-prefix}row-head {
    padding: 10px 0;
    padding-right: 15px;
    border-bottom: solid 1px @new-border-color;

    .@{css-prefix}btn {
      border: none;
      padding: 10px 15px;
      border-right: solid 1px @border-color-base;
    }
  }

  .@{css-prefix}row-body {
    &> .@{css-prefix}col {
      padding: 15px;

      &:not(:last-child) {
        border-right: solid 1px @new-border-color;
      }
    }

    .@{css-prefix}handler {
      .ltd-1 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
      }

      .@{css-prefix}btn {
        &:hover {
          color: white;
          border-color: @primary-color;
          background-color: @primary-color;
        }
      }

      .@{css-prefix}tag {
        opacity: .6;
        text-transform: capitalize;
        background-color: transparent;
        border-radius: @border-radius-base;
        border: dashed 1px lighten(@primary-color, 20%);
      }

      .@{css-prefix}chart {
        border-top: solid 1px @new-border-color;
      }
    }

    .@{css-prefix}scroll-container {
      max-height: 400px;
    }
  }
}
