.@{css-prefix}watch {
  .@{css-prefix}row-body {
    &> .@{css-prefix}col {
      padding: 15px;

      &:not(:last-child) {
        border-right: solid 1px lighten(@border-color-base, 8%);
      }
    }

    .@{css-prefix}handler {
      .ltd-1 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
      }

      .@{css-prefix}btn {
        &:hover {
          color: white;
          border-color: @primary-color;
          background-color: @primary-color;
        }
      }

      .@{css-prefix}tag {
        opacity: .6;
        text-transform: capitalize;
        background-color: transparent;
        border-radius: @border-radius-base;
        border: dashed 1px lighten(@primary-color, 20%);
      }

      .@{css-prefix}chart {
        border-top: solid 1px lighten(@border-color-base, 8%);
      }
    }

    .@{css-prefix}scroll-container {
      max-height: 320px;
    }
  }
}
