.layout-header {
  .flex-center-between();
  z-index: @zindex-affix;
  line-height: normal;
  background-color: @body-background;
  box-shadow: 0 10px 40px fadeout(@shadow-color, 6.4%);

  .@{css-prefix}nav {
    position: relative;
    .flex-center-center();

    &> *:not(i):not(:last-child) {
      margin-right: 20px
    }

    &-lang {
      padding: 5px 20px;
    }
  }

  .@{css-prefix}dropdown {
    &-item {
      & > * {
        min-width: 189px;
        padding: 10px 20px;
      }
    }

    &-info {
      cursor: auto;
      &:hover {background: inherit}
    }
  }

  .@{css-prefix}form {
    &-search {
      width: 360px;
      padding: 0;
      background-color: transparent;

      .@{css-prefix}input {
        height: 100%;
        &-group {
          overflow: hidden;
          top: 0;
          height: 36px;
          border-radius: 50px;
          border: solid 1px @border-color-base;
          & * {
            color: @btn-disable-color;
            border: none;
            background-color: transparent;
          }
          &-append {
            padding: 0;
            .ivu-btn {padding: 0 15px}
          }
        }
      }
    }
  }
}
