.layout-header {
  color: #828a9b;
  font-size: 12px;
  line-height: 2.5;
  .flex-center-between();

  .ivu-nav {
    position: relative;
    .flex-center-center();

    &> *:not(i):not(:last-child) { margin-right: 25px }

    &--logo {
      width: 150px;
      height: 30px;
      justify-content: center;
      background-color: #5b6270;
    }

    &--lang {
      padding: 0 15px;
      cursor: pointer;
      border-radius: 50px;
      border: solid 1px @border-color-low;
    }
  }

  .ivu-dropdown {
    &-item {
      & > * {
        min-width: 189px;
        padding: 10px 20px;
      }
    }

    &-info {
      cursor: auto;
      &:hover {background: inherit}
    }
  }

  .ivu-form {
    &-search {
      width: 360px;
      padding: 0;
      background-color: transparent;

      .ivu-input {
        height: auto;
        &-group {
          overflow: hidden;
          top: 0;
          height: 36px;
          border-radius: 50px;
          background-color: @menu-dark-active-bg;
          & * {
            color: @btn-disable-color;
            border: none;
            background-color: transparent;
          }
          &-append {
            padding: 0;
            .ivu-btn {padding: 0 15px}
          }
        }
      }
    }
  }
}
