.@{css-prefix} {
  &qrcode {

    .vue-qrcode {
      display: inline-block;
    }

    .@{css-prefix} {
      &select {
        min-width: 210px;

        &-selection {
          min-height: auto;
          font-size: 13px;
        }

        &-selected-value {
          height: auto;
        }

        &-dropdown {
          margin: 0;
        }

        &-item {
          padding: 5px 10px;
        }
      }
    }
  }

  &qr- {
    &form {

    }
  }
}