@header-height: 72px;

.@{css-prefix}create-link {
  .@{css-prefix}modal {
    max-width: @screen-sm;
    top: 10vh;
    text-align: left;

    &-close {
      @x64: (@header-height / 2);

      overflow: hidden;
      top: @x64;
      right: 7px;
      height: @x64;
      padding: 0 20px;
      transform: translateY(-50%);

      .@{css-prefix}icon {
        line-height: @x64;
        font-size: 45px;
        color: lighten(@text-color, 20%);
      }
    }

    &-content {
      flex-direction: column;
      flex: auto;
      display: flex;
      border-radius: @border-radius-base;
    }

    &-header, &-footer {
      flex: 0 0 auto;
      height: @header-height;
    }

    &-header {
      padding: 0 30px;
      line-height: @header-height;
      border-color: lighten(@border-color-base, 8%);
    }

    &-body {
      flex: auto;
      padding: 40px;
      overflow-y: auto;
    }

    &-footer {
      .flex-middle-end();
      padding: 0 40px;
      border-color: lighten(@border-color-base, 8%);

      .@{css-prefix}btn {
        text-transform: uppercase;
      }
    }

    .@{css-prefix}form {
      padding: 0;
      margin: 0 auto;
      max-width: auto;
      background-color: transparent;

      .@{css-prefix}select {
        &-selection {
          cursor: text;
          min-height: auto;
          padding: 35px 10px 5px 10px;

          .@{css-prefix}tag {
            margin: 0 5px 0 0;
            text-transform: capitalize;
          }
        }

        &-input {
          cursor: text;
          padding: 0;
          .placeholder({color: transparent});
        }

        &-placeholder {
          position: absolute;
          top: 0;
          height: auto;
          padding: 10px 0 0 0;
          text-transform: uppercase;
          line-height: normal;
          font-weight: 700;
          color: @text-color;
          display: block !important;
        }

        &-dropdown {
          margin: 0
        }

        &-item {
          display: block;
          padding: 5px 10px;
          text-transform: capitalize;

          &:after {
            line-height: .7;
          }
        }
      }

      &-item {
        textarea.@{css-prefix}input {
          resize: none;
          overflow: hidden;
        }

        .@{css-prefix}date-picker {
          display: block;

          .@{css-prefix}input {
            height: auto;
            padding: 15px;
            padding-top: 40px;

            &-icon { display: none }
          }
        }
      }

      .@{css-prefix}input {
        &-disabled {
          border-right: none
        }

        &-group-append {
          min-width: auto;
          color: #ccc;
          background-color: @input-disabled-bg
        }
      }
    }
  }
}
