.@{css-prefix}inputGroup {
  position: relative;

  label {
    position: absolute;
    top: 5px;
    left: 15px;
    pointer-events: none;
    z-index: @zindex-affix;

    .@{css-prefix}icon {
      font-size: 18px;
      width: 24px;
      margin-right: 4px;
      vertical-align: text-bottom;
      border-right: solid 1px @border-color-base;
    }

    .needed::after {
      content: ' *';
      font-size: 14px;
      color: tint(@error-color, 15%);
    }
  }

  .@{css-prefix}input {
    height: auto;
    font-size: 13px;
    padding: 40px 15px 10px;
  }

  & + .@{css-prefix}form-item-error-tip {
    left: auto;
    top: 4px;
    right: 0;
    padding: 10.5px;
    font-size: 11px;
    pointer-events: none;
  }
}
