.@{css-prefix}locale {

  .@{css-prefix}modal {
    top: 0;
    margin: @layout-header-height auto;
    max-width: @screen-sm;
    text-align: left;

    &-body { padding: 30px }
  }

  .@{css-prefix}group {
    &:not(:first-child) {
      margin-top: 10px;
      padding-top: 10px;
      border-top: dashed 1px tint(@border-color-split, 20%);
    }

    .@{css-prefix}col {
      margin-bottom: 10px;
    }

    .@{css-prefix}btn {
      padding: 0;
      border: none;

      &.onFocus {
        font-weight: 700;
        color: @link-hover-color;
      }
    }
  }
}
