public/*.html
public/static/
public/hot/
public/storage/
storage/*.key
vendor/
.env
.idea
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
phpunit.dusk.xml

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
composer.lock
