.mask() {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: @zindex-modal;
    background-color: hsla(210, 15%, 20%, .64);

    &-hidden {
        display: none;
    }
}
