.ui--index {
  position: relative;

  &-bar {
    margin: 15px;
    height: 4px;
    border-radius: 6px;
    background-color: var(--text-color);
  }

  &-info {
    padding: 0 15px;

    &-head {
      margin: 0 0 15px;

      .hr {
        border-width: 2px;
        border-color: var(--warning-color);
      }

      .logo {
        display: block;
        width: 100px;
        margin: 0 auto 20px;
      }

      .text {
        letter-spacing: 1.2px;
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
        text-align: center;
        text-transform: uppercase;
      }

      .desc {
        font-size: 14px;
        font-weight: 200;
        line-height: 1.3214;
        color: var(--base-color);
      }
    }

    &-content {
      display: grid;
      grid-gap: 15px;
      grid-auto-flow: row;
      margin: 0 0 20px;
      padding: 0 10px;
    }

    &-footer {
      position: sticky;
      bottom: 0;
      z-index: 8;
      padding: 15px;
      margin: 0 -15px;
      text-align: center;
      background-color: var(--primary-color);
      border-top: solid 1px var(--border-color);
    }
  }

  &-health {
    position: relative;

    &-title {
      position: sticky;
      z-index: 1;
      top: 0;

      line-height: 50px;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      background-color: shade(#002126, 40%);
    }

    &-terms {
      padding: 15px;
      background-color: shade(#002126, 10%);

      .text {
        font-size: 13px;
        font-weight: 300;
        text-align: justify;
      }

      .agree {
        display: block;
        width: max-content;
        margin: 20px auto 0;
        padding: 0 15px;
        font-weight: 500;
        text-transform: uppercase;
  
        &::before {
          vertical-align: bottom;
          display: inline-block;
          content: '';
          width: 18px;
          height: 18px;
          margin-right: 10px;
          border-radius: 100%;
          background-color: var(--error-color);
          border: solid 4px var(--text-color);
        }
  
        &:not(.checked)::before {
          background-color: var(--text-color);
        }
      }
    }

    &-footer {
      display: grid;
      grid-column-gap: 15px;
      grid-template-columns: repeat(2, 1fr);
      padding: 15px;
      border-top: solid 1px var(--border-color);
    }
  }
}

// Helpers.
.ui--gender {
  position: relative;

  &-label {
    color: var(--yellow-color);
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &-container {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;
    margin: 5px 0 0;
  }

  &-list {
    width: 65px;
    padding: 5px 0;
    border-radius: 4px;
    background-color: white;

    &.active {
      background-color: var(--yellow-color);
    }

    .icon {
      display: block;
      margin: auto;
      width: auto;
      height: 40px;
    }
  }
}

.ui--birthday {
  position: relative;

  &-label {
    color: var(--yellow-color);
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &-container {
    position: relative;
    margin: 5px 0 0;
  }

  &-text {
    position: relative;
    display: block;
    height: 45px;
    line-height: 44px;
    padding: 0 12px 0 62px;

    color: var(--text-color);
    background-color: transparent;

    border-radius: 4px;
    border: solid 1px var(--gray-color);
  }
}

.ui--health {
  position: relative;
  margin: 10px 0 0;
  padding: 0 15px 25px;
  border-bottom: solid 1px var(--border-color);

  &.pregnant {
    [class$="-radio"] {
      grid-row-gap: 10px;
      grid-auto-flow: row;
      grid-template-columns: unset;
    }
  }

  &-topic {
    display: grid;
    grid-template-columns: 40px 1fr;

    .icon {
      line-height: 1;
      font-size: 30px;
    }

    .label {
      font-weight: 500;
      text-transform: uppercase;
      color: var(--yellow-color);
    }
  }

  &-container {
    margin: 10px 0 0 40px;
  }

  &-level {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    
    .list {
      padding: 8px 0 6px;
      text-align: center;
      border-radius: 2px;
      color: var(--primary-color);
      background-color: var(--text-color);

      &.active {
        background-color: var(--yellow-color);

        .dotted {
          border-color: var(--warning-color);
        }
      }
    }

    .dotted {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 0 5px;
      border-radius: 100%;
      background-color: var(--error-color);
      border: solid 3px var(--yellow-color);
    }

    .label {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &-radio {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;

    .radio {
      min-width: 100px;
      font-weight: 500;
      text-transform: uppercase;
      color: var(--yellow-color);

      &::before {
        display: inline-block;
        content: '';
        width: 20px;
        height: 20px;
        margin-right: 12px;
        border-radius: 100%;
        background-color: var(--error-color);
        border: solid 4px var(--text-color);
        vertical-align: bottom;
      }

      &:not(.checked)::before {
        background-color: var(--text-color);
      }
    }
  }

  &-addon {
    position: relative;
    margin: 10px 0 0;

    &.indicate {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(3, 1fr);

      .list {
        display: grid;
        align-items: center;
        text-align: center;
        line-height: 14px;
        padding: 6px;
        border-radius: 2px;
        color: var(--primary-color);
        background-color: var(--text-color);

        &.active {
          font-weight: 600;
          background-color: var(--yellow-color);
        }
      }
    }

    input {
      padding: 6px 12px;
      border-radius: 2px;

      &::placeholder {
        color: var(--gray-color);
      }
    }
  }
}